.pin-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  gap: 1rem;
}

.pin {
  border: 1px solid black;
  padding: 0 1rem;
  box-shadow: 8px 5px 14px grey;
}

h2{
  font-family: 'Oswald', sans-serif;
}

p{
  font-size: 18px;
}

.address{
  font-size: 14px;
}

img{
  height: 250px;
  max-width: 360px;
  object-fit: cover;
}

.delete-button{
  float: right;
  color: crimson;
  cursor: pointer;
}
